*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
build.gradle
gradle.properties
gradle-wrapper.properties
/.idea/misc.xml
app/build.gradle
gradle/wrapper/gradle-wrapper.properties
